.o_shopfloor_history_gantt .o_gantt_color_5 {
    background-color: #b8c85f !important;
    border-color: #98a44a !important;
}

.o_shopfloor_history_gantt .o_gantt_color_2 {
    background-color: #e97044 !important;
    border-color: #c4552f !important;
}